* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Bruno Ace', cursive;
}

#setup, #boards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ships {
    display: flex;
    align-items: center;
}

#ships > div {
    box-sizing: border-box;
    background-color: rgb(99, 99, 255);
    border: 1px solid black;
}

#container, #playerboard, #opponentboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    align-self: center;
    border: 1px solid black;
}

.cell, .oppcell, .uninteractablecell {
    box-sizing: border-box;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid black;
}

.draggable {
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}

.hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

#boards {
    
}

#boards > div {
    display: flex;
    gap: 15px;
}

#boards > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oppcell:hover {
    cursor: pointer;
    background-color: gray;
}

#reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}